body {
  background-color: #3a8bbb;
}
.sgn-btn {
  position: absolute;
  border-radius: 50px;
  margin: 20px;
  padding: 5px;
  width: 100px;
  background-color: #3a8bbb;
  color: white;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 12px;
  left: 40px;
}
.sgn-input {
  border-radius: 50px;
  border-color: #3a8bbb;
}
.sgn-label {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 12px;
}
.home-content {
  font-weight: 30px;
  font-size: 20px;
}
.home {
  position: absolute;
  color: #3a8bbb;
  font-weight: 30px;
  font-size: 20px;
  left: 300px;
  top: 100px;
  border-radius: 20px;
  border-color: darkblue;
}
